body {
    width: 95%;
    height: 950px;
    background-color: rgb(238, 241, 240);
}

  img {
    width: 30%;
  }
    
  .burgername {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 200px;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-size: 25px;
  }
  
  h1 {
    color: rgb(8, 3, 1);
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 990px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 990px;
    }
  }